@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 43, 43, 43;
  --background-rgb: 240, 240, 208;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 43, 43, 43;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
